<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        bootstrap                   = "vendor/autoload.php"
        timeoutForSmallTests        = "1"
        timeoutForMediumTests       = "5"
        >

    <testsuites>
        <testsuite name="riper-exception-transformer">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <!--
    <php>
        <server name="KERNEL_DIR" value="/path/to/your/app/" />
    </php>
    -->

    <coverage processUncoveredFiles="true" includeUncoveredFiles="true">
        <include>
            <directory>DependencyInjection</directory>
            <directory>Exceptions/</directory>
            <directory>ExceptionTransformer</directory>
            <directory>Listener</directory>
            <directory>Resolver</directory>
        </include>
        <exclude>
            <directory>Tests</directory>
            <directory>vendor/</directory>
            <directory>Resources</directory>
        </exclude>
    </coverage>
</phpunit>
